!copyfiles
fc.c
frameup.c
lgame.c
lgame.dict
shuttle.c
starry.c
window.c
milk4.c
bigbrn.c
schlnet.c
tour.c
charrec.c
picture.c
hidden.c
twofive.c
vans.c
cowxor.c
rectbarn.c
calfflac.c
packrec.c
rect1.c
cryptcow.c
fence8.c
